canvas {
  display: block;
  margin: 0 auto;
}

div {
  display: inline-block;
}

h1 {
  padding: 20px;
  text-align: center;
}

body {
  background-color: white;
  font-family: 'Noto Sans', sans-serif !important;
}